.details {
    padding-top: 10px;
    font-family: 'Lato';
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
    
  }
  
  .detailsContent {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 10vw;
  }
  
  .detailsImg {
    width: 45vw;
    height: 70vh; 
    padding-right: 20px;
  }
  
  .detailsImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .detailsInfo {
    font-family: 'Righteous';
    margin-left: 50px;
    text-align: left;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
  }
  
  .detailsInfo h2 {
    font-family: 'Lato';
    font-size: 5vw;
    padding-bottom: 20px;
  }
  
  .details-input {
    width: 100%;
    margin-left: 10vw;
    margin-top: 60px;
  }
  
  .details-input label {
    text-align: left;
    display: block;
    margin-bottom: 30px;
    font-size: 42px;
  }
  .details-input span {
    font-weight: 800;
  }
  .details-input textarea{
    max-width: 75%;
    width: 75%;
    display: block;
    font-size: 18px;
  }
  
  /* vertical line */
  .hr hr {
    height: 70vh;
    border: 2px solid #595959;
  }
  
  /* for submit button */
  .submit-button{
    max-width: 75%;
    display:flex;
    
  }
  .submit-button button{
    
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 8px;
  
    box-shadow: 2px 2px 4px #555;
  }
  
  /* .submit-button button:hover{
    background-color: #aeaeae;
  } */
  
  .gotText {
    background-color: #1184e8;
    cursor: pointer;
  }
  .noText {
    background-color: #555;
  }

  .submit-button-clear{
    background-color: #555;
    cursor: pointer !important;
  }
  
  .details-review-content {
    display: flex ;
    padding-top: 50px;
  }
  .details-review-content-input {
    font-size: 20px;
    max-width: 69%;
    text-align: left;
  }
  .details-review-content-input span{
    margin-right: 10px;
  }
  .details-review-content-inputDate{
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 1px;
    color: #aeaeae;
  }

  .details-review-content-button {
    cursor: pointer;
    margin-left: 10px;
    border: none;
    background-color: white;
  }
  
  .details-review-content-button:hover {
    color: red;
  }