.details {
    padding-top: 10px;
    font-family: 'Lato';
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
  }
  
  .detailsContent {
    margin-top: 80px;
    display: flex;
    /* flex-direction: row; */
    flex: 1;
    margin-left: 10vw;
    justify-content: center;
  }
  
  .detailsImg {
    width: 600px;
    height: 600px; 
    position: relative;
    right: 25%;
  }
  
  .detailsImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .detailsInfo {
    font-family: 'Righteous';
    margin-left: 50px;
    width: 600px;
    height: 600px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    box-shadow: 5px 5px 15px -8px rgba(0,0,0,0.81);
    position: absolute;
    left: 45%;
    top: 15%;

    background-image: url(backdrop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .detailsInfo .detailsInfo-inside {
    justify-content: center;
    margin: auto;
  }

  .detailsInfo-inside-bidet{
    padding-top: 20px;
  }

  .detailsInfo-inside p{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 500;
  }
  
  .detailsInfo h2 {
    font-family: 'Lato';
    font-size: 28px;
    text-transform: uppercase;
  }

  .detailsInfo-inside button {
    padding: 6px 25px;
    margin-top: 10px;
    cursor:pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .details-input {
    width: 100%;
    margin-left: 10vw;
    margin-top: 60px;
  }
  
  .details-input label {
    text-align: left;
    display: block;
    margin-bottom: 30px;
    font-size: 42px;
  }
  .details-input span {
    font-weight: 800;
  }
  .details-input textarea{
    max-width: 75%;
    width: 75%;
    display: block;
    font-size: 18px;
  }
  
  /* vertical line */
  .hr hr {
    height: 70vh;
    border: 2px solid #595959;
  }
  
  /* for submit button */
  .submit-button{
    max-width: 75%;
    display:flex;
    
  }
  .submit-button button{
    
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 8px;
  
    box-shadow: 2px 2px 4px #555;
  }
  
  .gotText {
    background-color: #1184e8;
    cursor: pointer;
  }
  .noText {
    background-color: #555;
  }

  .submit-button-clear{
    background-color: #555;
    cursor: pointer !important;
  }
  
  .details-review-content {
    display: flex ;
    padding-top: 50px;
    max-width: 95%;
  }
  .details-review-content-input {
    font-size: 20px;
    max-width: 69%;
    text-align: left;
  }
  .details-review-content-input span{
    margin-right: 10px;
  }
  .details-review-content-inputDate{
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 1px;
    color: #aeaeae;
  }

  .details-review-content-button {
    cursor: pointer;
    margin-left: 10px;
    border: none;
    background-color: white;
  }
  
  .details-review-content-button:hover {
    color: red;
  }

  .submit-button{
    clear: both;
    display: block;
    text-align: left;
  }