/* navbar */
.navBar{
    position: relative;
  }
  .links {
    position: absolute;
    margin-top: 20px;
    right: 10%;
    transform: translate(20%);
    z-index: 1000;
    
    font-size: 1vw;
  }
  
  .navBar :link{
    padding: 20px;
    text-decoration: none;
    font-family: "Lato";
    font-weight: 600;
  }
  
  .links-btn:hover{
    background-color:#aeaeae
  }


  .links-btn {
    color: black
  }