/* navbar */
.navBar{
    position: relative;
    bottom: 20px !important;
  }
  .links {
    position: absolute;
    margin-top: 50px;
    right: 45%;
    text-align: center;
    transform: translate(20%);
    z-index: 1000;
    
    font-size: 1vw;
  }
  
  .navBar :link{
    padding: 20px;
    text-decoration: none;
    font-family: "Lato";
    font-weight: 600;
  }

  .active{
    text-decoration: underline !important;
    color: black !important
  }

  .links-btn {
    color: #aeaeae
  }